<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Absentia</title>
  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename ='vendor/bootstrap/css/bootstrap.min.css' )}}" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename ='vendor/jquery/jquery.min.js' )}}"></script>
    <script src="{{url_for('static', filename ='vendor/bootstrap/js/bootstrap.bundle.min.js' )}}"></script>

  
  <!-- Custom styles for this template -->
  <style>

  </style>
</head>




<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">

          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Dagens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Registrering</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_login">admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<br>
<br>
<br>
<br>
<center>
<img src="https://i.imgur.com/3wB0b8a.jpg" alt="Smiley face" height="350" width="1000">

  <br>
  <br>
    <h2>Admin Login:</h2>
        {% from "_formhelpers.html" import render_field %}
        <form method="post" autocomplete="off">
            <div class="container">
          <dl>
            {{ render_field(form.password) }}
          </dl>
          <button type="submit" class="btn">Login</button>
        </div>
        </form>
        <br>
        <h1 style="background-color:red;">{{error_login}}<br></h1>
        </center>
</body>

</html>